body{
    font-family: "Poppins", monospace;
    background-color: #ebfcff;
    color:#128193;
}
p{
    display:inline;
}
h{
    font-size: 40px;
    font-weight:  bold;
}

.loginInfo{
    width: 60%;
    margin-left:20%;
    text-align:left;
}
.textBox{
    width:100%; 
    height: 40px; 
    font-family: "Poppins", monospace;
    color:#128193;
    border-color:#128193; 
    background-color: #fbfeffff;
    border-radius: 4px; 
    border-width:2px;
    vertical-align: middle; 
    border-style:solid; 
    padding-left:5px;
    box-shadow: 1px 1px 1px grey;
    outline-color: #128193;
}
.infoText{
    margin-top:5px; 
    font-size:15px;
    font-weight: bold;
}
.error{
    color: red;
    font-size: 10px;
    text-align: left;
}
.button{
    font-family: "Poppins", monospace;
    font-size:15px;
    width:100px; 
    height: 35px; 
    border-color:#128193; 
    border-radius: 10px; 
    color: #128193; 
    background-color: #d1e9edff; 
    border-style:solid;
    cursor: pointer;
    display: inline-block;
    box-shadow: 1px 1px 1px grey;
    transition: all 0.5s;
}
.button:hover{
    background-color: #acdbe3ff; 
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 10px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.registerInfo{
    /* border: 1px solid black; */
    border-collapse: collapse;
    outline:10px;
    width: 96%;
    margin-left:2%;
    text-align:left;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size:0;
  }

.arrow{
    display:block;
    background-color:#ebfcff;
    border-color: #ebfcff;
    outline-color:#ebfcff;
    box-shadow: none;
    margin:0 auto;
    border-style: solid;
    font-size:0;
}

.buttonRight{
    float: right; 
}

.dashboardInfo{
    outline:10px;
    width: 96%;
    margin-left:2%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dashboardCell{
    width:24%;
    text-align: center;
}

.navigation{
    width: 100%;
}

.navBtn{
    font-family: "Poppins", monospace;
    font-size:15px;
    width:150px; 
    height: 35px; 
    border-color:#128193; 
    border-radius: 10px; 
    color: #128193; 
    background-color: #d1e9edff; 
    border-style:solid;
    cursor: pointer;
    display: inline-block;
    box-shadow: 1px 1px 1px grey;
}
.navBtn:hover{
    background-color: #acdbe3ff; 
}
.helpInfo{
    font-family: "Poppins", monospace;
    font-size:15px;
    width:35px; 
    height: 35px; 
    border-color:#128193; 
    border-radius: 50%; 
    color: #128193; 
    background-color: #d1e9edff; 
    border-style:solid;
    cursor: pointer;
    display: inline-block;
    box-shadow: 1px 1px 1px grey;
}

.bottomRight{
    position:fixed;
    left:10px;
    bottom:10px;
}

.gameTable{
    width: 90%;
    margin-left:5%;
    text-align:left;
}

.pictureCell{
    border:#128193 solid 3px;  
    position:relative;
    width:30%; 
    background-color: white;
}

.options{
    font-family: "Poppins", monospace;
    font-size:15px;
    width:200px; 
    height: 80px; 
    border-color:#128193; 
    border-radius: 10px; 
    color: #128193; 
    background-color: #d1e9edff; 
    border-style:solid;
    display: inline-block;
    box-shadow: 1px 1px 1px grey;
    line-height: 80px;
    text-align: center;
}